

/* template: Ranking & Start */
.rankingtable{ 
	margin-left: auto;
    margin-right: auto; 
	background-color: white;
	text-align: center;
}
.rankingtable td th{
    border-bottom: 1px solid #ddd;
}

/* template: newGame*/
.usertable{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	text-align: center;
}
.usertable td th{
	border-bottom: 1px solid #ddd;
}


/* template: continueGameFilter */
.filtertable {
    margin-left: auto;
    margin-right: auto;
	border-collapse: collapse;
	border: 1px solid black;
	background-color: white;
    width: 100%;
}
.filter{
    max-height: 50%;
    overflow : auto;
}
.filterbuttons{
    float: right;
}


.tabellemittig{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}




/* template: acutual Game */
.gametable {
	border-collapse: collapse;
	border: 1px solid black;
	background-color: white;
	text-align: center;
}

.gametable tr td, .gametable tr th{
	border-collapse: collapse;
	border-bottom: 1px solid black;
	min-width: 70px;
}
.punktetabelle{
	float: left;
}
.bank{
	float: right;
}

.wurfeln{
	text-align: center;
}
.wurfeln input{
	width: 250px;
	height: 40px;
	margin: auto;
}

.beenden input{
	width: 100%;
}




/* template: layout */
.layout {
	text-align: center;
	background: linear-gradient(green, white, green);
	min-height: 90vh;
}





/*Zeilenumbruch*/
.clear{
    clear: both;
}
